.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #2F4F4F;
    height: 1300px;
    margin-top: 10px;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content-left-block {
    width: 48%;
    margin: 10px;
    border: 2px solid #DCDCDC;
    height: 700px;
}

h1 {
    margin: 10px 0 0 20px;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    margin: 10px 0 0 20px;
    color: #DCDCDC;
    font-family: 'Times New Roman', Times, serif;
}

.adding-area {
    margin: 10px;
}

.items-input {
    height: 36px;
    width: 64%;
    margin: 0 10px 0 0;
    border: 2px solid #DCDCDC;
    border-radius: 5px;
    padding-left: 5px;
}

.input-btn {
    height: 40px;
    width: 30%;
    border: none;
    border-radius: 5px;
    font: 20px 'Times New Roman', Times, serif;
    background-color: aqua;
    color: white;
    margin: 2px;
    text-align: center;
}

.input-btn :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.task-list {
    padding: 10px 20px 0 20px;
    margin: 0;
}

.task-list-items {
    display: flex;
    flex-direction: row;
}

.task-list-items p {
    margin-right: 10px;
}

.number-of-tasks {
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    margin-top: 11px; 
    background-color: aqua;
}

.task-list li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #DCDCDC;
}

.list-btn {
    background-color: white;
    color: palevioletred;
    height: 40px;
    width: 100px;
    border: 2px solid palevioletred;
    border-radius: 5px;
    margin: auto 0;
}

.list-btn :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.content-right-block {
    width: 48%;
    margin: 10px;
    border: 2px solid #DCDCDC;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}