<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="wrapper">
    <h1 style="color:white">DAIRY APP</h1>
    <h3>Comment with no sense</h3>
  </div>
  <div class="content">
    <div class="content-left-block">
      <h1>
        Items
      </h1>
      <div class="adding-area">
        <input type="text" placeholder="Type name here..." [(ngModel)]="inputText" class="items-input">
        <button class="input-btn" (click)="addTask()">Add new</button>
      </div>
      <div *ngFor="let item of tasks">
        <ul class="task-list">
          <li (click)="showComments(item)">
            <div class="task-list-items">
              <p>{{item.name}}</p>
              <p class="number-of-tasks">{{item.comments.length}}</p>
            </div>
            <button (click)="deleteTask(item)" class="list-btn">Delete</button>
          </li>
        </ul>
      </div>

          
    </div>
    <div class="content-right-block">
      <app-coments [index]="index" [comments]="comments"></app-coments>
    </div>
  </div>
  
  
</div>


<router-outlet></router-outlet>
